<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Malware Detection</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <header class="header">
        <!-- left box for logo -->
        <div class="left">

            <div>MAT🛡️ LAB</div>
        </div>
        </div>
        <!-- mid box for navbar -->
        <div class="mid">
            <ul class="navbar">
                <li><a href="#" class="active">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#para">Malwares</a></li>
                <li><a href="mailto:dreamdeveloper48@gmail.com">Contact Us</a></li>
            </ul>
        </div>
        <!-- Right box for buttons -->
        <div class="right">

            <button class="btn"><a href="mailto:dreamdeveloper48@gmail.com" style="color: rgb(222, 128, 220);">
                    E-Mail</a></button>
        </div>
    </header>
    <div class="container">
        <h1>Malware Analysis Tool</h1>
    </div>


    <form action="/upload" method="post" enctype="multipart/form-data">
        <label class="browse" for="file">
            <img src="/static/paper.png" alt="">
            <div>
                <img src="/static/document.png" alt="">
                <h3>Choose Files</h2>
            </div>
            <h4 style="color: white;" id="file_name">Drop Files Here</h4>
        </label>
        <input class="file" type="file" name="file" id="file" accept=".txt, .pdf, .png, .jpg, .jpeg, .gif, .com"
            required>
        <button id="analyze" type="submit">Submit</button>
    </form>

    <hr>
    <div class="bg2txt">
        <img class="bg2" src="/static/bg2.jpeg" alt="">
        <div id="bg2txt">
            <dt class="def" id="para"><b>What Is Malware?</b></dt>
            <dd class="def1">Malware, short for malicious software, refers to any intrusive software developed by
                cybercriminals (often
                called hackers) to steal data and damage or destroy computers and computer systems. Examples of common
                malware
                include viruses, worms, Trojan viruses, spyware, adware, and ransomware. Recent malware attacks have
                exfiltrated
                data in mass amounts.</dd>
        </div>

    </div>

    <script>
        document.getElementById('file').onchange = function () {
            document.getElementById("file_name").innerHTML = this.value;
        };


    </script>
</body>

</html>